#root {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.section-padding {
  padding: 2rem 1rem;
}

.section-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 3rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding: 4rem 2rem;
  }
}
